.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  border-radius: var(--br-s);
  background-color: var(--c-primary-bg);
  font-size: var(--fs-50);
  color: var(--c-text-primary);

  // 3rd and 6th column/row have margin to separate 3x3 boxes
  &:nth-child(9n + 3),
  &:nth-child(9n + 6) {
    margin-right: 4px;
  }
  &:nth-child(n + 19):nth-child(-n + 27),
  &:nth-child(n + 46):nth-child(-n + 54) {
    margin-bottom: 4px;
  }

  &.is-constant {
    color: var(--c-text-secondary-dark);
  }
}

.options-grid {
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  gap: 0px;

  color: var(--c-text-secondary-dark);
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-10);
  line-height: var(--fs-10);
}
