.grid-container {
  max-width: 660px;
  width: 100%;
  aspect-ratio: 1/1 !important;
}

.grid {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
  padding: 2px;
}
