:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  font-size: 62.5%; // Ensures 1rem is 10px

  color-scheme: dark;
  color: var(--c-text-base);
  background-color: var(--c-bg-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
}

html {
  font-size: 62.5%; // Ensures 1rem is 10px
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;

  font-size: var(--fs-base);
  line-height: 1.5em;
}
